* {
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: montserrat;
    scroll-behavior: smooth;

    --col1:1fr;
    --col2:1fr;
    --col3:1fr;
    --col4:1fr;
}

.header-centre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: center;
    padding: 0px 700px 0px 700px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
}

.header-centre :hover {
    color: orange;
    text-shadow: 3px 3px 30px orange;
    transform: scale(1.1);
}

.profile img {
    width: 50px;
}

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px 0px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.About-me {
    display: grid;
    grid-template-columns: var(--col1) var(--col2) var(--col3) var(--col4);
    margin: 100px auto;
    grid-column-gap: 75px;
}
.about-me-text {
    display: grid;
    align-items: center;
    font-size: 25px;
}

.about-me-picture img {
    width: 450px;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
}

.about-me-picture img:hover {
    box-shadow: 1px 1px 15px orange;
    transform: scale(1.1);
}

.Heading {
    font-size: 35px;
    font-weight: bold;
}

.Interests {
    margin-top: 200px;
    margin-bottom: 200px;
}
.Heading2 {
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    display: grid;
}
.Heading-section2 {
    display: grid;
    justify-content: center;
}
.interests-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 50px 0px 50px 45px;
}
.interests-pictures img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
}

.interests-pictures img:hover {
    box-shadow: 1px 1px 15px orange;
    transform: scale(1.1);
}

.img-container{
    width: 300px;
    height: 500px;
}
.My-work {
    display: grid;
    justify-content: center;
    grid-row-gap: 100px;
    margin: 100px 0px 200px 0px;
}
.work-banner {
    width: 1200px;
}

.work-banner img {
    width: 100%;
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
    border-color: orange;
}

.work-banner img:hover {
    box-shadow: 1px 1px 15px orange;
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    .About-me {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .header-centre {
        padding: 0 20px; 
    }

    .work-banner {
        width: 80%;
    }

    .interests-pictures {
        display: block;
        justify-items: center;
    }
}
